.string-control {
  margin-bottom: 10px;
  display: flex; /* Используем flexbox для расположения элементов в строку */
  align-items: center; /* Выравниваем элементы по вертикали */
}

.string-control__label {
  display: block;
  font-weight: bold;
  margin-right: 10px; /* Отступ между меткой и контролом */
  color: blue; /* Синий цвет для метки */
}

.string-control__label_disabled {
  color: #666; /* Цвет текста для отключенного состояния */
}

.string-control__select {
  flex: 1; /* Занимаем все доступное пространство */
  border: none; /* Удаление рамки у выпадающего списка */
  border-bottom: 1px solid #ccc; /* Добавление нижней границы */
  padding: 5px;
}

.string-control__select_disabled {
  background-color: #f4f4f4; /* Фон для отключенного состояния */
  color: #999; /* Цвет текста для отключенного состояния */
  cursor: not-allowed;
}

/* Стили для темной темы */
.theme-dark .string-control__select {
  background-color: #333;
  color: #fff;
  border-bottom-color: #999; /* Цвет нижней границы для темной темы */
}

/* Стили для светлой темы */
.theme-light .string-control__select {
  background-color: #f9f9f9;
  color: #333;
  border-bottom-color: #ccc; /* Цвет нижней границы для светлой темы */
}